header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/marc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  color: white;
  text-align: center;
  padding: 200px;
}
body {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6));
}

header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  text-shadow: red 9px 2px 9px;
}
header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 0;
}
header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  background: rgb(160, 0, 0);
  margin-top: 32px;
  display: inline-block;
  border-radius: 10px;
}
main {
  background-color: white;
}
main h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 7px;
}
main h3 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}
main h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin: 0 auto;
}
main h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 8px;
  margin: 0;
}
main p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
main a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  background: rgb(160, 0, 0);
  margin-top: 32px;
  display: inline-block;
  border-radius: 10px;
}
main img {
  width: 600px;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(2, 4, 3, 0.8)),
    url(images/marc-3.jpg);
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-size: cover;
  padding: 20px 0;
}
footer h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  padding-bottom: 10px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section h3,
h2 {
  color: white;
}
span {
  display: block;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.info {
  padding-left: 20px;
  color: black;
}
.info h2,
.info h3 {
  color: black;
}
.info h3 {
  padding-left: 15px;
}

.secondary {
  background: black;
  background-image: linear-gradient(
      360deg,
      rgba(3, 5, 4, 0.9) 0%,
      rgba(2, 4, 3, 0.7) 51.55%,
      rgba(11, 6, 32, 0.6) 100%
    ),
    url(images/marc-4.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 40px 0px rgba(7, 5, 20, 0.2);
  margin-top: 30px;
}
.card-body {
  padding: 30px;
}
.card p {
  padding: 24px, 32px, 0px, 32px;
}
.card-header iframe {
  width: 100%;
  height: 352px;
}

.button {
  display: block;
  padding: 16px;
  border-radius: 100px;
  gap: 10px;
}
.last h2 {
  color: black;
  padding-bottom: 30px;
}
.last h3 {
  color: rgb(160, 0, 0);
}
.project-link {
  text-align: center;
}

@media (max-width: 960px) {
  header {
    padding: 50px;
  }
  header h1 {
    font-size: 55px;
    text-shadow: red 4px 2px 9px;
  }
  header h2 {
    font-size: 20px;
    margin: 10px;
  }
  header h3 {
    font-size: 12px;
  }

  main img {
    display: none;
  }
  main h1,
  main h2,
  main h3,
  main p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
  }
  main h2 {
    font-size: 30px;
    line-height: 32px;
  }
  main a {
    margin: 20px 0;
    display: block;
    margin-inline: 100px;
  }
  section {
    padding: 0px;
  }
  footer {
    background-image: none;
    background-color: black;
    opacity: 50%;
  }
  footer h3,
  footer p,
  footer ul {
    text-align: center;
  }
  footer div {
    padding: 0 15px;
  }
  .container {
    max-width: none;
  }

  .grid,
  .grid-2-columns,
  .grid-3-columns {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .info {
    padding: 0;
  }
  .card {
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    background-color: black;
  }
  .card-body {
    padding: 15px;
  }
  .card-body h4,
  .card-body h5,
  .card-body p {
    text-align: center;
    color: white;
  }
  .card-header iframe {
    height: 200px;
  }
  .last iframe {
    height: 200px;
  }
  .project-link {
    padding: 15px;
  }
  .secondary {
    background-image: none;
  }
}
