header {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(images/marc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
  color: white;
  text-align: center;
  padding: 200px;
}
body {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.6));
}

header h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  margin: 0;
}
header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  background: rgb(160, 0, 0);
  margin-top: 32px;
  display: inline-block;
  border-radius: 10px;
}
main {
  background-color: white;
}
main h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding: 7px;
}
main h3 {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}
main h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin: 0 auto;
}
main h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 8px;
  margin: 0;
}
main p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
main a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  padding: 16px 32px;
  background: rgb(160, 0, 0);
  margin-top: 32px;
  display: inline-block;
  border-radius: 10px;
}
main img {
  width: 600px;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(2, 4, 3, 0.8)),
    url(images/marc-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
footer h3 {
  font-family: "Playfair Display SC", serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
footer p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 20px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section h3,
h2 {
  color: white;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 16px;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
.grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.info {
  padding-left: 20px;
}
.secondary {
  background: black;
  background-image: linear-gradient(
      360deg,
      rgba(3, 5, 4, 0.9) 0%,
      rgba(2, 4, 3, 0.7) 51.55%,
      rgba(11, 6, 32, 0.6) 100%
    ),
    url(images/marc-4.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 10px 10px 40px 0px rgba(7, 5, 20, 0.2);
  margin-top: 30px;
}
.card-body {
  padding: 30px;
}
.card p {
  padding: 24px, 32px, 0px, 32px;
}

.button {
  display: block;
  padding: 16px;
  border-radius: 100px;
  gap: 10px;
}
@media (max-width: 960px) {
  header {
    padding: 50px;
  }
  header h1 {
    font-size: 64px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid,
  .grid-2-columns {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  main img {
    display: none;
  }
  main h1,
  main h2,
  main h3,
  main p {
    text-align: center;
  }
  main h2 {
    font-size: 30px;
    line-height: 32px;
  }
  main a {
    margin-top: 20px;
    display: block;
    margin-inline: 120px;
  }
  section {
    padding: 50px;
  }
  footer {
    padding: 50px, 0;
    background-image: none;
    background-color: black;
    opacity: 50%;
  }
}
